<div style="
  background-color: #1A2332;
  border: 1px solid #1A2332;
  color: #FFF;
  margin: 2em 0;
  border-radius: 0.5em;
  display: flex;
">
	<div style="
    background-color: #111927;
    text-align: center;
    padding: 0.25em 0.5em;
    font-size: 2em;
    display: inline-block;
    ">
		<p style="
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)">{{ include.id }}</p>
	</div>
	<div style="
    padding: 0.25em 0.5em;
    width: 90%;
    display: inline-block;
    ">
		<p style="
        font-weight: 700;
        padding: 0 1em;
        ">{{ include.description }}</p>
		<div>
			<p style="
                width: 90%;
                color: #9FEF00;
                margin: 0 1em 1em 1em;
                padding: 1em;
                background-color: #111927;
                border: 1px solid #1A2332">{{ include.flag }}</p>
		</div>
	</div>
</div>